
<!DOCTYPE html>
<html>

  <head>
    
    <meta name = "viewport" content = "width=device-width, minimum-scale=1, maximum-scale=1">
    
    <!-- META -->
    <meta charset = "utf-8">
    
        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">

    <!-- CSS -->
    <link rel = "stylesheet" href = "/static/css/default.css" />
    <link rel = "stylesheet" media = "screen" href = "/static/css/common.css" />
    
    <!-- JS -->
    <script src ="/static/js/jquery-1.4.min.js"></script>
    <script src ="/static/js/jquery.easing-1.3.js"></script>
    
    <!-- iosSlider plugin -->
    <script src ="/static/js/jquery.iosslider.js"></script>
    
    <script type="text/javascript">
      $(document).ready(function() {
        
        $('.iosSlider1').iosSlider({
          snapToChildren: true,
          desktopClickDrag: true
        });
        
        $('.iosSlider2').iosSlider({
          snapToChildren: true,
          desktopClickDrag: true
        });
        
        $('.toggle').bind('click', function() {

          if($('.main').hasClass('sliderHidden')) {
            
            $('.main').removeClass('sliderHidden');
          
          } else {
          
            $('.main').addClass('sliderHidden');
          
          }
          
          /* call to rerender iosSlider */
          $('.iosSlider1').iosSlider('update');
        
        });
        
      }); 
    </script>
    
    <title>AidPin on the iOS</title>
    
  </head>
  
  <body>
        
    <div class = 'main'>
      
      <div class = 'slider1Container'>
      
        <div class = 'iosSlider1'>
        
          <div class = 'slider'>
        
            <div class = 'item item1'>
              <h2>User Profile</h2>
              <p><!--% pic1 %--></p>
              <p>Fan Zhu</p>
<h2>Emergency Contacts</h2>
              <p>James Chun<br>
                (412) 425 - 2207
<h2>Medicinal Allergies</h2>
              <p> Penicillin<br>Peanuts </p>
              <h2>Brief History</h2>
              <p> Heart Problems<br>Diabetes </p>
            </div>
          </div>
        
        </div>
      
      </div>
      <!--
      <div class = 'slider2Container'>
        
        <div class = 'iosSlider2'>
        
          <div class = 'slider'>
          
            <div class = 'item item1'>slider 2</div>
            <div class = 'item item2'>22222</div>
            <div class = 'item item3'>33333</div>
          
          </div>
        
        </div>
      
      </div>-->
      
     <!-- <div class = 'toggle'>show/hide toggle</div>
    
    </div>-->

    <div class = 'footer'>AidPin<br><br>Michelle </div>
      
  </body>
  
</html>