<!DOCTYPE html>
<html lang="en"><script type="text/javascript" async=""></script><script type="text/javascript" async="" src="./tbf/ga.js"></script><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>AidPin - Lifesaving tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="http://twitter.github.com/bootstrap/assets/css/docs.css" rel="stylesheet">
    <link href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/ico/favicon.ico"-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
    <style>
    .btn {
        -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
    }
    </style>
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50" data-twttr-rendered="true" style="background:#BADEFF;font-family:'Georgia'">

<!--
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="static/tbf/Twitter Bootstrap.html"><img src="/static/images/aidpin_white.png" style="height:30px;margin-bottom:-10px"></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="landing_page.html">Overview</a>
              </li>
              <li class="">
                <a href="#for-patients">For Patients</a>
              </li>
              <li class="">
                <a href="#for-doctors">For Doctors</a>
              </li>
              <li class="">
                <a href="#for-patients">Pricing</a>
              </li>
              <li class="">
                <a href="#for-patients">Our Team</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
-->
    <div class="container">
<div class="content_to_change">
<header class="jumbotron masthead">
  <div class="inner">
    <h1><img src="/static/images/aidpin.png"></h1>
    <p>In case of emergency, nobody panic.</p>
  </div>
<!--
  <div class="bs-links">
    <ul class="quick-links">
      <li><a href="http://twitter.github.com/bootstrap/upgrading.html">Upgrading from 1.4</a></li>
      <li><a href="https://github.com/twitter/bootstrap/zipball/master">Download with docs</a></li>
      <li><a href="http://blog.getbootstrap.com/">Read the blog</a></li>
      <li><a href="https://github.com/twitter/bootstrap/issues?state=open">Submit issues</a></li>
      <li><a href="https://github.com/twitter/bootstrap/wiki">Roadmap and changelog</a></li>
    </ul>
    <ul class="quick-links">
      <li>
        <iframe class="github-btn" src="static/tbf/github-btn(1).html" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="static/tbf/github-btn.html" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
      </li>
      <li class="follow-btn">
        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="static/tbf/follow_button.1340179658.html" class="twitter-follow-button" style="width: 236px; height: 20px; " title="Twitter Follow Button"></iframe>
      </li>
      <li class="tweet-btn">
        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="static/tbf/tweet_button.1340179658.html" class="twitter-share-button twitter-count-horizontal" style="width: 107px; height: 20px; " title="Twitter Tweet Button"></iframe>
      </li>
    </ul>
  </div>
-->
</header>

<hr class="soften">

<div class="marketing">
  <h1>Made for anyone, anywhere.</h1>
  <p class="marketing-byline">We absolutely mean it. Sign-up soon. </p>
          <p class="download-info" style="text-align:center">
      <a href="for-patients" class="btn btn-primary btn-large">I'm a Patient</a>
      <a href="#for-doctors" class="btn btn-large">I'm a Doctor <small>(or responder)</small></a>
    </p>
    <hr class="soften">

  <div class="row">
    <div class="span4">
      <img class="bs-icon" src="static/images/glyphicons_042_group.png">
      <h2>Emergency Notifications</h2>
      <p>Like you, we have loved ones. We love them so much, we decided to help people just like us do get in touch with them easier, better, and faster in the event of an emergency. AidPin is built for you.</p>
    </div>
    <div class="span4">
      <img class="bs-icon" src="static/images/glyphicons_266_book_open.png">
      <h2>Avoid Drug Allergies</h2>
      <p>Allergic to penicllin? We got you. Don't waste valuable time that can be used towards saving your life waiting for the system to identify you, read through your health records, and check for your drug allergies. </p>
    </div>
    <div class="span4">
      <img class="bs-icon" src="static/images/glyphicons_163_iphone.png">
      <h2>Easy to Use</h2>
      <p>For healthcare professionals and patients alike, Like your favorite device, we've put in hours of work to make sure that this system is truly easy to use for all. We are designed for your favorite browser, tablets and smartphones, too.</p>
    </div>
  </div><!--/row-->
</div><!-- /.marketing -->
</div><!--content_to_change-->

      <footer class="footer">
        <!--p class="pull-right"><a href="#">Back to top</a></p-->
        <p>We are AidPin. Michelle, Stephen, James, Aaditya. Built at MedHack. </p>
      </footer>

    </div><!-- /container -->



    <script type="text/javascript" src="static/tbf/widgets.js"></script>
    <script src="static/tbf/jquery.js"></script>
    <script src="static/tbf/prettify.js"></script>
    <script src="static/tbf/bootstrap-transition.js"></script>
    <script src="static/tbf/bootstrap-alert.js"></script>
    <script src="static/tbf/bootstrap-modal.js"></script>
    <script src="static/tbf/bootstrap-dropdown.js"></script>
    <script src="static/tbf/bootstrap-scrollspy.js"></script>
    <script src="static/tbf/bootstrap-tab.js"></script>
    <script src="static/tbf/bootstrap-tooltip.js"></script>
    <script src="static/tbf/bootstrap-popover.js"></script>
    <script src="static/tbf/bootstrap-button.js"></script>
    <script src="static/tbf/bootstrap-collapse.js"></script>
    <script src="static/tbf/bootstrap-carousel.js"></script>
    <script src="static/tbf/bootstrap-typeahead.js"></script>
    <script src="static/tbf/application.js"></script>


  

</body><link rel="stylesheet" type="text/css" href="data:text/css,"></html>